# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# YARN We're not using Zero-Installs
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

scripts/test_data
scripts/im.json
scripts/manifest.json
scripts/importmap.json

# testing
/coverage

# production
build
/build
/ci/pipeline.yaml
# yarn.lock

scripts/test_data

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

secretProps.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/e2e/cypress/videos
/e2e/cypress/screenshots
