@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-dark {
  --color-theme-results-bg: var(--color-juno-grey-blue-10-raw);
  --color-theme-details-bg: var(--color-juno-grey-blue-8-raw);

  .whois {
    background: url(img/IP-Background.svg) bottom right no-repeat;
  }
}

.theme-light {
  --color-theme-results-bg: var(--color-juno-grey-light-2-raw);
  --color-theme-details-bg: var(--color-juno-grey-light-3-raw);

  .whois {
    background: url(img/IP-Background_light.svg) bottom right no-repeat;
  }
}

.whois {
  min-height: 40rem;
}

.search {
  min-width: 36rem;
}

/* bottom fade out */
.fade {
  mask-image: linear-gradient(180deg, #000 80%, transparent);
  -webkit-mask-image: linear-gradient(180deg, #000 80%, transparent);
}
