/* IMPORTANT: Don't import tailwind base in host app, it could overwrite ui component styles */
/* @tailwind base; */
@tailwind components;
@tailwind utilities;

.documentation-banner {
  background: url(assets/images/docu_shape.svg) top 1rem right no-repeat;
}

.footer {
  background: url(assets/images/background_footer.jpg) top left no-repeat
}

// Worldmap: show hover info permanently for selected region
@each $regionName in 'EU-DE-1' 'EU-DE-2' 'EU-NL-1' 'EU-RU-1' 'AP-AU-1' 'AP-AE-1' 'AP-CN-1' 'AP-JP-1' 'AP-JP-2' 'AP-SA-1' 'AP-SA-2' 'NA-CA-1' 'NA-US-1' 'NA-US-2' 'NA-US-3' 'LA-BR-1' {
  .worldmap[data-selected-region='#{$regionName}'] {
    .#{$regionName} {
      opacity: 1;
      display: block;
    }
  }
}