kind: Deployment
apiVersion: apps/v1

metadata:
  name: ui-dashboard
  namespace: greenhouse

spec:
  selector:
    matchLabels:
      app: ui-dashboard
  revisionHistoryLimit: 3
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 2
  template:
    metadata:
      labels:
        app: ui-dashboard
    spec:
      # The preStop hook below sleeps 30 seconds, extend the gracePeriod accordingly
      terminationGracePeriodSeconds: 60
      containers:
        - name: web
          image: "{{ .Values.global.registry }}/juno-v2-hosting:{{ .Values.hosting_image_tag }}"
          imagePullPolicy: IfNotPresent
          ports:
            - name: web
              containerPort: 80
          env:
            - name: PAGE_TITLE
              value: Greenhouse
            - name: FAVICON_URL
              value: https://assets.juno.{{ $.Values.global.region }}.cloud.sap/assets/favicon.ico
            - name: NAME
              value: greenhouse
            - name: VERSION
              value: latest
            - name: ASSETS_HOST
              value: https://assets.juno.qa-de-1.cloud.sap
            - name: PROPS
              value: '{"issuerurl": "https://ajfc1jphz.accounts.ondemand.com/","clientid": "1cf034b8-f3d5-4fd3-8008-fba557641968"}'
          resources:
            requests:
              cpu: "100m"
              memory: "256M"
            limits:
              cpu: "100m"
              memory: "256M"
              
          livenessProbe:
            httpGet:
              path: /
              port: 80
            timeoutSeconds: 10
            periodSeconds: 60
            initialDelaySeconds: 60
          readinessProbe:
            httpGet:
              path: /
              port: 80
            timeoutSeconds: 5
            periodSeconds: 5
          resources:
            limits:
              cpu: "1000m"
              memory: "256Mi"
            requests:
              cpu: "1000m"
              memory: "256Mi"
          lifecycle:
            preStop:
              exec:
                #Give the ingress some time to reload its config
                command: ["/bin/sh", "-c", "sleep 30"]
