kind: Deployment
apiVersion: apps/v1

metadata:
  name: juno-cdn
  namespace: juno

spec:
  selector:
    matchLabels:
      app: juno-cdn
  revisionHistoryLimit: 3
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 2
  template:
    metadata:
      labels:
        app: juno-cdn
    spec:
      # The preStop hook below sleeps 30 seconds, extend the gracePeriod accordingly
      terminationGracePeriodSeconds: 60
      containers:
        - name: dashboard
          image: "{{ .Values.global.registry }}/juno-cdn:latest"
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 80

          livenessProbe:
            httpGet:
              path: /
              port: 80
            timeoutSeconds: 10
            periodSeconds: 60
            initialDelaySeconds: 60
          readinessProbe:
            httpGet:
              path: /
              port: 80
            timeoutSeconds: 5
            periodSeconds: 5
          lifecycle:
            preStop:
              exec:
                #Give the ingress some time to reload its config
                command: ["/bin/sh", "-c", "sleep 30"]
