apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  annotations:
    dns-manager: "true"
    dns-manager/zone-name: "{{ .Values.global.region }}.cloud.sap"
    kubernetes.io/tls-acme: "true"
  # labels:
  #   app: juno
  name: juno
  namespace: juno
spec:
  rules:
    - host: "juno.{{ .Values.global.region }}.cloud.sap"
      http:
        paths:
          - path: / 
            backend:
              serviceName: juno-dashboard
              servicePort: 3000

    - host: "cdn.juno.{{ .Values.global.region }}.cloud.sap"
      http:
        paths:
          - path: / 
            backend:
              serviceName: juno-cdn
              servicePort: 8888

    - host: "ui.juno.{{ .Values.global.region }}.cloud.sap"
      http:
        paths:
          - path: /                 
            backend:
              serviceName: juno-ui-components
              servicePort: 3000

    - host: "mercury.juno.{{ .Values.global.region }}.cloud.sap"
      http:
        paths:
          - path: /                 
            backend:
              serviceName: juno-mercury
              servicePort: 5000              
                    
{{- if eq .Values.global.region "eu-nl-1" }}
    - host: "juno.global.cloud.sap"
      http:
        paths:
          - path: / 
            backend:
              serviceName: juno-dashboard
              servicePort: 3000

    - host: "cdn.juno.global.cloud.sap"
      http:
        paths:
          - path: / 
            backend:
              serviceName: juno-cdn
              servicePort: 8888

    - host: "ui.juno.global.cloud.sap"
      http:
        paths:
          - path: /                 
            backend:
              serviceName: juno-ui-components
              servicePort: 3000

    - host: "mercury.juno.global.cloud.sap"
      http:
        paths:
          - path: /                 
            backend:
              serviceName: juno-mercury
              servicePort: 5000               

{{- end }} 

  tls:
    - hosts: 
        - "juno.{{ .Values.global.region }}.cloud.sap"
        - "*.juno.{{ .Values.global.region }}.cloud.sap"
{{- if eq .Values.global.region "eu-nl-1" }}      
        - "juno.global.cloud.sap"
        - "*.juno.global.cloud.sap"
{{- end }}        
      secretName: "tls-juno-{{ .Values.global.region }}-cloud-sap"
