  server { 
    root  /usr/share/nginx/html; 
    add_header Access-Control-Allow-Origin *;
    listen 80; 
    listen 443 default_server ssl;  
    ssl_certificate     /etc/ssl/juno/tls.crt; 
    ssl_certificate_key /etc/ssl/juno/tls.key; 
    server_name  localhost; 
    include mime.types; 
    types  
    { 
      application/javascript mjs js; 
    } 
    
    location / { 
      index  index.html index.htm; 
    } 
    
    location ~* (importmap|manifest).*\.json$ { 
      sub_filter __BASE_URL_PLACEHOLDER__ "https://$host"; 
      sub_filter_types *; 
      sub_filter_once off; 
      add_header Cache-Control "no-store, no-cache"; 
      add_header Access-Control-Allow-Origin *;
    } 
    
    location ~* .*widget-loader@latest.*\.js$ { 
      add_header Cache-Control "no-store, no-cache"; 
      add_header Access-Control-Allow-Origin *;
    }
  } 
